<!DOCTYPE html>
<html lang="en" ng-app="omarApp">
<head>
	<meta charset="UTF-8">
	<title>OMAR2 | Angular</title>
	<link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css">
	<!-- Vendors -->
	<script src="../node_modules/angular/angular.js"></script>
	<script src= "../node_modules/angular-ui-router/build/angular-ui-router.js"></script>
	<script src= "../node_modules/angular-resource/angular-resource.js"></script>
	
	<script src= "main/app.js"></script>
	<script src= "OpenLayersLite-formats.js"></script>
	
	<!-- Controllers -->
	<script src= "images-list/images-list.js"></script>
	<style>
		.hidden {
			display: none;
		}
	</style>

</head>
<body>
	
	<div ng-controller="ImagesListCtrl" class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<br>
				<br>
				<br>
				Search: <input ng-model="query">
				Sort by:
				<select ng-model="orderProp">
				  <option value="STATE_NAME">State Name</option>
				  <option value="PERSONS">Person</option>
				</select>
			</div>
<!-- 			<div class="col-md-8">
				<h1 class="alert alert-success">OMAR2 WFS</h1>				
				<table class="table table-striped table-bordered table-hover">
					<caption>Images List</caption>
					<th class="hidden">id</th>
					<th>FIPS</th>
					<th>Name</th>
					<th>Persons</th>
					<tr ng-repeat="state in states| filter:query| orderBy:orderProp">
						<td class="hidden">{{state.id}}</td>
						<td>{{state.properties.STATE_FIPS}}</td>
						<td>{{state.properties.STATE_NAME}}</td>
						<td>{{state.properties.PERSONS}}</td>
					</tr>
				</table>
			</div> -->
			<div class="col-md-8">
				<h1 class="alert alert-success">OMAR2 WFS</h1>				
				<table class="table table-striped table-bordered table-hover">
					<caption>Images List</caption>
					<tr>
						<th ng-repeat="field in schema">{{field.name}}</th>
					</tr>
					<tr ng-repeat="state in states | filter:query | orderBy:orderProp">
						<td ng-repeat="field in schema">{{state.properties[field.name]}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</body>
</html>